@mixin paddings-standart {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $width-tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
