body {
  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $dark-brown;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}
