$font: "PT Sans", arial, sans-serif;

//цвета

$color-blue-light: #81b3d2;
$color-blue-moderate: #669ec0;
$color-white: #ffffff;
$color-black: #000000;
$color-brown-dark: #333333;
$color-gray-light: #eeeeee;
$color-gray-dark: #d6d6d6;

//ширина вьюпорта

$width-tablet: 756px;
$width-desktop: 1200px;

//ретининзация

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
