.btn {
  background-color: $color-blue-light;
  color: $color-white;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: inherit;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 700;
}
