.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 17px;
  text-decoration: none;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.25;
  color: $color-white;
  background-color: $color-blue-light;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-blue-moderate;
  }
  &:active {
    color: $color-white-transperent;
    background-color: $color-blue-dark;
  }

}
