.form {
  border-top: 1px solid $color-gray-moderate;

  @media (min-width: $width-tablet) {
    border-top: none;
  }
}

.form__self {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.form__fieldset-cover {

  @media (min-width: $width-tablet) {
    justify-content: space-between;
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.form__fieldset-cover--order {

  @media (min-width: $width-tablet) {
    order: -1;
    border-right: 1px solid $color-gray-dark-border;
  }
}

.form__fieldset-cover--wide {

  @media (min-width: $width-tablet) {
    flex-basis: 100%;
  }
}

.form__fieldset {
  font-family: $font;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  color: $color-black;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid $color-gray-light;

  @media (min-width: $width-tablet) {
    border-bottom: 0;
  }
}

.form__input-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__input-list--checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-black;
  text-align: center;
}

.form__textarea-label {
  display: block;
}

.form__textarea {
  width: 100%;
  height: 160px;
  background-color: $color-gray-light;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.45;
  color: $color-black;
  resize: none;
  border: none;

  &::placeholder {
    color: $color-black;
    opacity: 1;
  }
}

.form__btn-cover {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.form__btn {
  display: block;
  width: 280px;

  @media (min-width: $width-tablet) {
    width: 324px;
  }

  @media (min-width: $width-desktop) {
    width: 480px;
  }
}

.form__footnote {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  font-family: $font;

  @media (min-width: $width-tablet) {
    display: block;
  }
}

//кастомизация полей ввода

.form__input-span {

  @media (min-width: $width-desktop) {
    display: none;
  }
}

.form__input-text-label {
  margin-right: 14px;
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $color-brown-dark;
  text-transform: uppercase;
}

.form__input-text-label--contacts {
  margin-left: 14px;

  @media (min-width: $width-tablet) {
    margin-left: 22px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 0;
    flex-shrink: 0;
  }
}

.form__input-text {
  flex-grow: 1;
  width: 100%;
  height: 58px;
  padding-left: 22px;
  font-size: 18px;
  color: $color-black;
  line-height: 1.45;
  font-family: $font;
  font-weight: 700;
  border: none;
  background-color: $color-gray-light-bg;

    &::placeholder {
      color: $color-black;
      opacity: 1;
  }
}

.form__input-text--contacts {
  flex-basis: 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 19px) 50%, right;
}

.form__input-text--telephone {
  background-image: url("../img/icon-phone.svg"),
                    linear-gradient(to left, $color-gray-moderate-bg 58px,
                                             $color-gray-light-bg 58px);
  &:hover,
  &:focus {
    background-image: url("../img/icon-phone.svg"),
                      linear-gradient(to left, $color-gray-moderate-bg 58px,
                                                  $color-gray-moderate 58px);
  }

  @media (min-width: $width-desktop) {
    margin-right: 80px;
  }
}

.form__input-text--email {
  background-image: url("../img/icon-mail.svg"),
                    linear-gradient(to left, $color-gray-moderate-bg 58px,
                                             $color-gray-light-bg 58px);
  &:hover,
  &:focus {
    background-image: url("../img/icon-mail.svg"),
                      linear-gradient(to left, $color-gray-moderate-bg 58px,
                                               $color-gray-moderate 58px);
  }
}

.form__input-text:hover {
  background-color: $color-gray-moderate;
}

.form__field-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__field-wrapper--contacts {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $width-desktop) {
    flex-basis: 50%;
    flex-direction: row;
    align-items: center;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @media (min-width: $width-desktop) {
    flex-direction: row;
  }
}

//кастомизация чекбоксов

.form__input-item--checkboxes {
  margin-bottom: 54px;

  @media (min-width: $width-tablet) {
    flex-basis: 50%;
  }

  @media (min-width: $width-desktop) {
    flex-basis: 25%;
  }
}

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  user-select: none;
}

.form__checkbox-span {
  position: relative;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  font-family: $font;
  text-transform: none;
}

.form__checkbox-span::before {
  content: "";
  position: absolute;
  left: -81px;
  top: -14px;
  width: 56px;
  height: 56px;
  background-color: $color-gray-light-bg;
  border-radius: 5px;
}

.form__checkbox-label:hover .form__checkbox-span::before,
.form__checkbox-label:focus .form__checkbox-span::before {
  background-color: $color-gray-moderate;
}

.form__checkbox-label:active .form__checkbox-span::before {
  background-color: $color-gray-dark-bg;
}

.form__checkbox:checked + .form__checkbox-span::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 5px;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

//кастомизация радио

.form__input-item--radio {
  margin-bottom: 43px;
}

.form__radio {
  display: none;
}

.form__radio-label {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  user-select: none;
}

.form__radio-span {
  position: relative;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  font-family: $font;
  text-transform: none;
}

.form__radio-span::before {
  content: "";
  position: absolute;
  left: -79px;
  top: -16px;
  width: 56px;
  height: 56px;
  background-color: $color-gray-light-bg;
  border-radius: 50%;
}

.form__radio-label:hover .form__radio-span::before,
.form__radio-label:focus .form__radio-span::before {
  background-color: $color-gray-moderate;
}

.form__checkbox-label:active .form__checkbox-span::before {
  background-color: $color-gray-dark-bg;
}

.form__radio:checked + .form__radio-span::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 1px;
  width: 22px;
  height: 22px;
  background-color: $color-brown-dark;
  border-radius: 50%;
}
