.form__fieldset-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
}

.form__input-text-label {
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $dark-brown;
  text-transform: uppercase;
}

.form__input-radio-label,
.form__input-checkbox-label{
  font-family: $font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
}

.form__fieldset {
  font-family: $font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
}
