.hashtag {
  color: $color-black;
  margin-bottom: 38px;
  font-size: 21px;
  line-height: 1.25;
  font-weight: 700;
  text-decoration: none;
}

.hashtag:hover,
.hashtag:focus {
  color: $color-blue-light;
}

.hashtag:active {
  color: rgba(0, 0, 0, 0.3);
}
