.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: $color-white;
  &--single {
    background-color: $color-blue-light;
  }
  &--gray {
    background-color: $color-gray-light;
  }
  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.info--reverse {

  @media (min-width: $width-tablet) {
    flex-direction: row-reverse;
  }
}

.info--row {
  min-height: 320px;

  @media (min-width: $width-tablet) {
    min-height: 330px;
  }
}

.info--gray {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $width-tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.info__caption {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  color: $color-black;
  &--dark-brown {
    color: $color-brown-dark;
  }
  &--white {
    color: $color-white;
  }
}

.info__text {
  color: $color-brown-dark;
  &--white {
    color: $color-white;
  }
}

.info__figure {
  height: 260px;
  margin: 0;
  padding: 0;

  @media (min-width: $width-tablet) {
    width: 512px;
    height: 256px;
    overflow: hidden;
  }

  @media (min-width: $width-desktop) {
    width: 800px;
  }
}

.info__img {
  height: 100%;

  @media (min-width: $width-tablet) {
    height: 100%;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    margin-top: -70px;
    height: auto;
  }
}

.info__article {
  padding-top: 25px;

  @media (min-width: $width-tablet) {
    width: 256px;
  }

  @media (min-width: $width-desktop) {
    width: 400px;
  }
}

.info__article--single {
  min-height: 191px;

  @media (min-width: $width-tablet) {
    min-height: 256px;
  }
}

.info__article--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 60px;

  @media (min-width: $width-tablet) {
    background-image: none;
    padding-top: 50px;
  }
}

.info__article--pictured {
  position: relative;
  padding-left: 70px;
  padding-right: 40px;
  text-align: left;

  @media (min-width: $width-tablet) {
    margin-top: 164px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.info__article--gray {
  border-bottom: 1px solid $color-gray-dark;
    &:last-child {
      border-bottom: none;
    }

    @media (min-width: $width-tablet) {
      padding-left: 53px;
      padding-right: 53px;
    }

    @media (min-width: $width-desktop) {
      padding-left: 70px;
      padding-right: 70px;
    }
}

.info__article--pictured::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 20px;

  @media (min-width: $width-tablet) {
    top: -115px;
    left: calc(50% - 40px);
  }
}

.info__article--housing::after {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;

  @media (min-width: $width-tablet) {
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }
}

.info__article--souveniers::after {
  width: 35px;
  height: 40px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 35px 40px;

  @media (min-width: $width-tablet) {
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }
}

.info__article--food::after {
  width: 33px;
  height: 38px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 33px 38px;

  @media (min-width: $width-tablet) {
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }
}

.info__caption--numbered {
  position: relative;
  margin-bottom: 55px;
  counter-increment: article-numbered;
  &::after {
    content: "— № " counter(article-numbered) " —";
    left: calc(50% - 45px);
    bottom: -35px;
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    font-family: inherit;
    width: 100px;
    height: 20px;
    z-index: 1;
  }
}
