.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: $color-white;
  &--single {
    background-color: $color-blue-light;
  }
  &--gray {
    background-color: $color-gray-light;
  }
}

@media (min-width: $width-tablet) {
  .info {
    flex-direction: row;
  }
  .info--reverse {
    flex-direction: row-reverse;
  }
}

.info--row {
  min-height: 320px;
  @media (min-width: $width-tablet) {
    min-height: 330px;
  }
}

.info__caption {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  color: $color-black;
  &--dark-brown {
    color: $color-brown-dark;
  }
  &--white {
    color: $color-white;
  }
}

.info__text {
  color: $color-brown-dark;
  &--white {
    color: $color-white;
  }
}

.info__article--single {
  min-height: 191px;
}

.info__article--pictured {
  padding-left: 70px;
  padding-right: 40px;
  text-align: left;
  @media (min-width: $width-tablet) {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.info__caption--numbered {
  position: relative;
  margin-bottom: 55px;
  &::after {
    content: "— №1 —";
    left: calc(50% - 45px);
    bottom: -35px;
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    font-family: inherit;
    width: 100px;
    height: 20px;
    z-index: 1;
  }
}

.info__caption--numbered {
  &-2::after {
    content: "— №2 —";
  }
  &-3::after {
    content: "— №3 —";
  }
  &-4::after {
    content: "— №4 —";
  }
  &-5::after {
    content: "— №5 —";
  }
}

@media (min-width: $width-tablet) {
  .info__article {
    width: 256px;
  }
  .info__figure {
  width: 512px;
  }
}

@media (min-width: $width-desktop) {
  .info__article {
    width: 400px;
  }
  .info__figure {
  width: 800px;
  }
}

.info__figure {
  height: 256px; //есть вопрос по поведению fugure
  margin: 0;
  padding: 0;
}
