.main-nav {
  display: none;
  position: relative;
  min-height: 223px;
  background-color: $color-blue-light;

  @media (min-width: $width-tablet) {
    min-height: 55px;
    background-color: $color-white;
  }
}

.main-nav--no-js {
  display: block;
}

.main-nav--js-show {
  display: block;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    padding-top: 14px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 49px;
    padding-right: 26px;
  }
  @media (min-width: $width-desktop) {
    padding-left: 90px;
    padding-right: 70px;
  }
}

.main-nav__item {
  margin-bottom: 1px;
  padding-top: 8px;
  min-height: 55px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset,
              0px 1px 0px 0px rgba(1, 1, 1, 0.2);

  &:hover,
  &:focus {
    background-color: $color-blue-moderate;

    @media (min-width: $width-tablet) {
      background: none;
    }
  }

  &:active {
    background: $color-blue-dark;

    @media (min-width: $width-tablet) {
      background: none;
    }
  }

  &--disabled {
    background-color: $color-gray-moderate;

    @media (min-width: $width-tablet) {
      background: none;
    }
  }

  @media (min-width: $width-tablet) {
    padding-top: 0;
    min-height: 0;
    box-shadow: none;
  }
}

.main-nav__item:first-child {

  @media (min-width: $width-tablet) {
    margin-right: 77px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 162px;
  }
}

.main-nav__item:nth-child(3) {

  @media (min-width: $width-tablet) {
    margin-left: auto;
    margin-right: 49px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 137px;
  }
}


.main-nav__link {
  font-size: 18px;
  line-height: 2.25;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    font-size: 14px;
    color: $color-black;
    line-height: 1.85;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {

  @media (min-width: $width-tablet) {
    color: $color-blue-light;
  }
}

.main-nav__link:active {
  color: $color-black-transparent-light;
}



.main-nav__toggle {
  width: 23px;
  height: 22px;
  bottom: -37px;
  right: 21px;
  position: absolute;
  background: none;
  border: none;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav__toggle--close {
  top: 17px;
  right: 21px;
  background-image: url("../img/icon-cross.svg");
}
