.main-heading {
  min-height: 628px;
  padding-top: 390px;
  background-color: $color-white;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

@media (min-width:756px) {
  .main-heading {
    min-height: 724px;
    padding-top: 520px;
  }
}

.main-heading__caption {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  color: $color-black;
}
