.main-heading {
  background-color: $color-white;
  text-align: center;
  padding-bottom: 6px;

  @media (min-width: $width-tablet) {
    margin-top: -2px;
    padding-bottom: 49px;
  }
}

.main-heading__canvas {
  min-height: 158px;
  margin-bottom: 39px;
  background-image: url("../img/text-sedona.svg"),
                    url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 50%, 100% 100%, 50% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 229px 39px, 100% auto, 768px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    min-height: 290px;
    margin-bottom: 52px;
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-size: 458px 80px, 100% auto, 768px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona.svg"),
                            url("../img/bg-intro-triangle-tablet.svg"),
                            url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    background-image: url("../img/text-sedona.svg"),
                      url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-size: 462px 80px, 100% auto, 1200px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona.svg"),
                        url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.main-heading__canvas--index {
  min-height: 390px;
  background-image: url("../img/text-sedona-index.svg"),
                    url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 50%, 100% 100%, 50% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 280px 215px, 100% auto, 768px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/text-sedona-index.svg"),
                      url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    min-height: 520px;
    margin-bottom: 48px;
    background-image: url("../img/text-sedona-index.svg"),
                      url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 46%, 100% 100%, 50% 100%;
    background-size: 460px 350px, 100% auto, 768px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"),
                            url("../img/bg-intro-triangle-tablet.svg"),
                            url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    background-image: url("../img/text-sedona-index.svg"),
                      url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-size: 460px 350px, 100% auto, 1200px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"),
                        url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.main-heading__caption {
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $width-tablet) {
    margin-bottom: 31px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 21px;
    line-height: 1.25;
  }

  @media (min-width: $width-desktop) {
    padding-right: 350px;
    padding-left: 350px;
  }
}

.main-heading__text {
  margin-bottom: 0;
  padding-left: 14px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  color: $color-brown-dark;

}
