.main-nav {
  min-height: 223px;
  background-color: $color-blue-light;
}

@media (min-width: 768px) {
  .main-nav {
    min-height: 56px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    min-height: 56px;;
  }
}

// .main-nav__toggle {
//   font-size: 0;
// }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-size: 18px;
  line-height: 2.25;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
}
