.main-nav {
  min-height: 223px;
  background-color: $color-blue-light;

  @media (min-width: $width-tablet) {
    min-height: 56px;
    background-color: $color-white;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 23px;
  height: 21px;
  border: none;
  border-top: 3px solid $color-blue-light;
  background: none;
  &::after, &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 23px;
    height: 3px;
    background: $color-blue-light;
  }
  &::before {
    top: 9px;
  }
  @media (min-width: $width-tablet) {
      display: none;
    }
}

.main-nav__toggle--close {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 27px;
  height: 27px;
  background: none;
  border: none;
  &::after, &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 29px;
    height: 5px;
    background: red;
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(135deg);
  }
}

.main-nav__item {
  min-height: 55px;
}

.main-nav__link {
  font-size: 18px;
  line-height: 2.25;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  @media (min-width: $width-tablet) {
    color: $color-black;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 49px;
    padding-right: 26px;
  }
  @media (min-width: $width-desktop) {
    padding-left: 90px;
    padding-right: 70px;
  }
}
