.order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 49px;
}

.order__caption {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.25;
}

.order__btn {
  display: block;
}
