.page-header {
  min-height: 279px;
  position: relative;
  background-color: $color-white;
}

.page-header__logo {
  position: absolute;
  bottom: -28px;
  left: calc(50% - 51px);
  font-size: 0;
  height: 83px;
  width: 102px;
  z-index: 2;
  cursor: pointer;
  background-image: url("../img/logo-sedona-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 0;
    background-image: url("../img/logo-sedona-tablet.svg");
  }

  @media (min-width: $width-desktop) {
    height: 96px;
    width: 187px;
    background-image: url("../img/logo-sedona-desktop.svg");
  }
}
