.page-header {
  min-height: 56px;
  position: relative;
  background-color: $color-white;

  @media (min-width: $width-tablet) {
    min-height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  bottom: -27px;
  left: calc(50% - 51px);
  font-size: 0;
  height: 83px;
  width: 102px;
  z-index: 2;
  cursor: pointer;
  background-image: url("../img/logo-sedona-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 0;
    background-image: url("../img/logo-sedona-tablet.svg");
  }

  @media (min-width: $width-desktop) {
    left: calc(50% - 94px);
    height: 96px;
    width: 187px;
    background-image: url("../img/logo-sedona-desktop.svg");
  }
}

.page-header__nav-mock {
  min-height: 56px;

  @media (min-width: $width-tablet) {
    display: none;
  }
}
