.page-header {
  position: relative;
  min-height: 279px;
  background-color: $color-white;
  @media (min-width: $width-tablet) {
    min-height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  top: 223px;
  left: calc(50% - 51px);
  font-size: 0;
  height: 83px;
  width: 102px;
  cursor: pointer;
  @media (min-width: $width-tablet) {
    top: 0;
  }
}
