.page-wrapper {
  border: 1px solid red;
  width: 320px;
  margin: 0 auto;
  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }
  @media (min-width: $width-desktop) {
    width: $width-desktop;
    box-shadow: 0 5px 15px 0 rgba(0, 01, 01, 0.3);
  }
}
