.player {
  position: relative;
}

.player__video {
  height: 200px;
  width: 100%;
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.player__controls {
  position: relative;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 111px;
  background: linear-gradient(to bottom, $color-black-transparent-dark 45px,
                                         $color-gray-light-bg 45px);

  @media (min-width: $width-tablet) {
    margin-top: -98px;
    background: $color-black-transparent-dark;
    height: 92px;
  }
}

.player__timeline {
  align-self: flex-start;
  position: relative;
  height: 45px;
  @media (min-width: $width-tablet) {
    height: 92px;
    align-self: auto;
  }
}

.player__scroll-bar {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  @media (min-width: $width-tablet) {
    width: 389px;
    left: 93px;
    top: 45px;
  }
  @media (min-width: $width-desktop) {
    width: 541px;
    left: 93px;
    top: 45px;
  }
}

.player__scroller {
  position: absolute;
  top: 17px;
  left: 80px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  @media (min-width: $width-tablet) {
    top: 45px;
    left: 93px;
  }
  @media (min-width: $width-tablet) {
    top: 42px;
    left: 206px;
  }
}

.player__btn {
  align-self: flex-end;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  background: none;
  border: none;
  cursor: pointer;
  @media (min-width: $width-tablet) {
    align-self: auto;
    margin-bottom: 0;
  }
}

.player__btn--replay {
  width: 16px;
  height: 20px;
  margin-left: 25px;
}

.player__btn--subtitles {
  margin-left: auto;
  margin-right: 31px;
}

.player__btn--full-screen {
  margin-right: 23px;
}

.player__btn {
  fill: #5c6870;
  @media (min-width: $width-tablet) {
    fill: $color-white;
  }
}
